.one-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
}
  img {
    width: 106px;
    height: 160px;
} 
.main-heading {
    font-size: 25px;
    color: #6c6c6c;  

}